venv/
__pycache__/
Models_Datasets/
archive/
./pyvenv.cfg
pregenerated_graphs.pt
pregenerated_graphs_validation.pt
16/
32/
pyvenv.cfg
*.pt
*.pth
*.mp4
Dynamic/media
Dynamic/SplitVid
*.gif
*.png
*.egg-info/